:root {
    --culoare: yellow;
    --culoarediv: blueviolet
}

body {
    background-color: var(--culoare);
}

h1 {
    padding-top: 20px
}

#main {
    border-radius: 20px;
    box-shadow: 0 0 30px black;
}

h1 , .container, a {
    text-align: center;
    color: white;
}

ul.centerUL {
    display: inline-block;
    text-align: left;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    box-shadow: 0 0 30px green;
    margin-bottom: 30px
  }


#main , .container{
    width: 400px;
    margin: 0 auto;
    background-color: var(--culoarediv);
}

.hide {
    color: var(--culoarediv);
}

.hide:hover {
    color: black;
}